In [4]:
import pandas as pd

In [5]:
data = pd.read_csv('datasets/ADNI1_Complete_1Yr_1.5T_11_04_2020.csv')

In [6]:
data.head()

,Image Data ID,Subject,Group,Sex,Age,Visit,Modality,Description,Type,Acq Date,Format,Downloaded
0,I64025,002_S_0295,CN,M,86,4,MRI,MPR; GradWarp; B1 Correction; N3; Scaled,Processed,5/25/2007,NiFTI,10/20/2020
1,I40966,002_S_0295,CN,M,85,3,MRI,MPR; GradWarp; B1 Correction; N3; Scaled,Processed,11/02/2006,NiFTI,10/20/2020
2,I118692,002_S_0295,CN,M,85,3,MRI,MPR; GradWarp; B1 Correction; N3; Scaled_2,Processed,11/02/2006,NiFTI,10/20/2020
3,I45108,002_S_0295,CN,M,85,1,MRI,MPR; GradWarp; B1 Correction; N3; Scaled,Processed,4/18/2006,NiFTI,10/20/2020
4,I118671,002_S_0295,CN,M,85,1,MRI,MPR; GradWarp; B1 Correction; N3; Scaled_2,Processed,4/18/2006,NiFTI,10/20/2020

In [7]:
data.shape

(2294, 12)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2294 entries, 0 to 2293
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Image Data ID  2294 non-null   object
 1   Subject        2294 non-null   object
 2   Group          2294 non-null   object
 3   Sex            2294 non-null   object
 4   Age            2294 non-null   int64
 5   Visit          2294 non-null   int64
 6   Modality       2294 non-null   object
 7   Description    2294 non-null   object
 8   Type           2294 non-null   object
 9   Acq Date       2294 non-null   object
 10  Format         2294 non-null   object
 11  Downloaded     2294 non-null   object
dtypes: int64(2), object(10)
memory usage: 215.2+ KB

In [15]:
data[data['Subject'] == '073_S_0312']

,Image Data ID,Subject,Group,Sex,Age,Visit,Modality,Description,Type,Acq Date,Format,Downloaded
1500,I39881,073_S_0312,CN,M,83,1,MRI,MPR; GradWarp; B1 Correction; N3; Scaled,Processed,5/31/2006,NiFTI,10/19/2020
1501,I72481,073_S_0312,CN,M,84,3,MRI,MPR; GradWarp; B1 Correction; N3; Scaled,Processed,2/08/2007,NiFTI,10/20/2020
1502,I72494,073_S_0312,CN,M,84,4,MRI,MPR-R; GradWarp; B1 Correction; N3; Scaled,Processed,7/05/2007,NiFTI,10/20/2020
1503,I119230,073_S_0312,CN,M,83,1,MRI,MPR; GradWarp; B1 Correction; N3; Scaled_2,Processed,5/31/2006,NiFTI,11/04/2020

In [10]:
data.loc[1, 'Subject']

'002_S_0295'

In [19]:
for i, n in zip(data['Subject'], data['Group']):
    new = i+n
    break

In [20]:
new

'002_S_0295CN'